.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata

# nextflow pipeline files
.nextflow/
.nextflow.log*
*.html
*.html.*

#Pipeline specific
#https://stackoverflow.com/questions/40460216/how-do-i-make-git-ignore-symlink
resources
resources/
results*/
test_data/bams/
test_data/fastqs/
test_data/*skeleton*
test_data/test.nf
test_data/*.sh
reports/
dag/
sample_sheets/
env/create_test_dataset.yml
