.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata
.vscode
.vscode/
*.log
*.img
*.sif

# nextflow pipeline files
.nextflow/
.nextflow.log*
*.html
*.html.*

#Pipeline specific
#https://stackoverflow.com/questions/40460216/how-do-i-make-git-ignore-symlink
resources
resources/
results*/
reports/
dag/
sample_sheets/

# Testing 
env/macs.yml
env/create_test_dataset.yml
notes.txt
test_data/*.skeleton 
test_data/*.txt
notes/
samk/
sample_sheet_val/
*testing*
=======
alias_testing/
notes/
nextflow-*-edge-all

artifacts/
nextflow_dev.yaml
nextflow-23.12.0-edge-all